services:
  web:
    build: ./django_server
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./django_server:/app
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - db

  db:
    image: postgres:12.1
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.dev
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-application_evaluator}"]
      interval: 10s
      timeout: 5s
      retries: 5

  react:
      build: ./react_ui
      command: vite --host
      stdin_open: true
      ports:
        - 3000:3000
      volumes:
        - ./react_ui:/app
        - /app/node_modules
