[run]
omit =
    application_evaluator_config/asgi.py
    application_evaluator_config/wsgi.py
    application_evaluator_config/settings.py
    */migrations/*
    # Measure coverage of application code, not the tests themselves:
    */*tests.py
    */tests/*
    manage.py
