[run]
omit =
    application_evaluator/asgi.py
    application_evaluator/wsgi.py
    application_evaluator/settings.py
    */migrations/*
    # Measure coverage of application code, not the tests themselves:
    */*tests.py
    */tests/*
    manage.py
